@media (prefers-color-scheme: light) {
	html,
	body {
		background-color: #eff1f5;
	}
}

@media (prefers-color-scheme: light) {
	html,
	body {
		background-color: #1e1e2e;
	}
}

body {
	font-family: 'Inter', sans-serif;
}

a {
	--at-apply: 'text-light-blue visited:text-light-lavender dark:text-dark-blue dark:visited:text-dark-lavender';
}
