h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    text-decoration: none;
    --at-apply: 'text-light-text dark:text-dark-text visited:text-light-text dark:visited:text-dark-text text-3xl';
}

h1 > a:hover::before,
h2 > a:hover::before,
h3 > a:hover::before,
h4 > a:hover::before,
h5 > a:hover::before,
h6 > a:hover::before {
  content: '§';
  position: absolute;
  padding: 0 .2em;
  margin-left: -1em;
  border-radius: .2em;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
    text-decoration: underline;
}
